{% extends "base.html" %}

{% block content %}
  <link rel="stylesheet" media="style" type="text/css" title="style" href="style.css" />

  <h1>Add a new Gym Hall</h1>

  <form action="save_resource_gymhall/" method="get">
  {% csrf_token %}
  	<!--
  	<label for="client_id">Client ID:</label>
	<input type="text" name="client_id" value=" " id="client_id">
    <br>
    -->
    <label for="Localgorvernment_ID">Local government:</label>
	<input type="text" name="Localgorvernment_ID" value=" " id="Localgorvernment_ID">
    <br>
    <br>
  	<label for="name">Name:</label>
	<input type="text" name="name" value=" " id="name">
    <br>
    <label for="description">Description:</label>
    <br>
    <textarea NAME="description" COLS=30 ROWS=5 id="description"></textarea>
    <br><br>
    <label for="unit_price">price:</label>
	<input type="text" name="unit_price" value=" " id="unit_price">
	<br><br>
	<label for="address">Address:</label>
	<input type="text" name="address" value=" " id="address">
	<br><br>
	<!--
	<label for="startdate">Start date:</label>
	<input type="text" name="startdate" value=" " id="startdate">
	<label for="startdate">(YYYY-MM-DD HH:MM:SS)</label>
	<br><br>
	<label for="finishdate">Finish date:</label>
	<input type="text" name="finishdate" value=" " id="finishdate">
	<label for="startdate">(YYYY-MM-DD HH:MM:SS)</label>
    -->
    <br><br>
    <input type="submit" value="Add">
  </form>
{% endblock %}
