{% extends 'base.html' %}
<style type="text/css">
td.a
{
text-align:right;
color:red;
}
b
{
text-align:left;
}
</style>


{% block content %}
<form action="place_gym_order/" method="get">
	<fieldset>
	<h2>{{ gymResource.name }}</h2>
	
	<table>
	<tr >
		<td style="text-align:right;">
		Description:
		</td>
		<td class="b">
		<p>{{ gymResource.description }}</p>
		</td>
	</tr>
    
    <tr>
		<td>
		Price:
		</td>
		<td>
		<p>{{ gymResource.unit_price }}</p>
		</td>
	</tr>
    
    <tr>
		<td>
		Address:
		</td>
		<td>
		{{ current_date }}
		 <p>{{ gymResource.address }}</p>
		</td>
	</tr>
<!-- {{ someDate }} -->
	<tr>
		<td>
			<input type="text" name="startDate" value="" id="startDate" format="%d.%m.%Y" >
		</td>
		<td>
		 <input type="submit" value="Book">
		</td>
	</tr>
   <tr>
		<td>
		</td>
		<td>
		 <input type="submit" value="Book">
		</td>
	</tr>
	
	</table>
	</fieldset>
</form>

{% endblock %}