<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
  <head>    <title>Ressource Book</title>
      <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	  <meta name="title" content="Resource Book" />    
	  <meta name="description" content="resource book, gym hall, wood" />    
	  <meta name="keywords" content="resource book, gym hall, wood" />    
	  <meta name="language" content="en" />    
	  <meta name="subject" content="Resource Book" />    
	  <meta name="robots" content="All" />    
	  <meta name="copyright" content="Resource Book - UniNE" />    
	  <meta name="abstract" content="Site description here" />    
	  <meta name="MSSmartTagsPreventParsing" content="true" />    
	  <link id="theme" rel="stylesheet" type="text/css" href="style.css" title="theme" />  
	</head>  
	
	<body>     
		<div id="wrapper">       
			<div id="bg">         
				<div id="header"></div>          
					<div id="page">           
						<div id="container">
						             
						<!-- banner -->
						              
						<div id="banner"></div>
						              
						<!-- end banner -->
						              
						<!-- horizontal navigation -->
						              
						<div id="nav1">               
							<ul>                
								<li id="current" style="border:none">                  <a href="#" shape="rect">Home</a>                </li>                
								<li>                  <a href="#" shape="rect">Link</a>                </li>                
								<li>                  <a href="#" shape="rect">Link</a>                </li>               
								<li>                  <a href="#" shape="rect">Link</a>                </li> 
								<!--<li>                  <a href="#" shape="rect">Link</a>                </li>-->               
								<li>                  <a href="#" shape="rect">Contact us</a>          </li>              
							</ul>             
						</div>
						              
						<!-- end horizontal navigation -->
						              
						<!--  content -->              
						
						<div id="content">
							<div id="center">                 
								<div id="welcome">                   
									<h3>Wellcome to ResourceBook</h3>                    
										<p></p>
										<h1>Title 1</h1>                    
											<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Sed non risus. Suspendisse lectus tortor, dignissim sit amet, adipiscing nec, ultricies sed, dolor. Cras elementum ultrices diam. Maecenas ligula massa, varius a, semper congue, euismod non, mi.</p>                    
											<div>                     
												<img src="images/woman-1.jpg" height="88" style="float:left;margin:0 15px 0 0;" />                      
												<p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. </p>                   
											</div>                    
										<h2>Title 2</h2>                    
											<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Sed non risus. Suspendisse lectus tortor, dignissim sit amet, adipiscing nec, ultricies sed, dolor. Cras elementum ultrices diam. Maecenas ligula massa, varius a, semper congue, euismod non, mi.</p>
</div>               
								</div>                
								
								<div id="right">                 
									<div id="sidebar">                   
										<h3>Navigation</h3>                    
											<ul class="vmenu">                    
												<li>                      <a href="#" shape="rect">Link 1</a>                    </li>                    
												<li>                      <a href="#" shape="rect">Link 2</a>                    </li>                    
												<li>                      <a href="#" shape="rect">Link 3</a>                    </li>                    
												<li>                      <a href="#" shape="rect">Link 4</a>                    </li>                    
												<li>                      <a href="#" shape="rect">Link 5</a>                    </li>                  
											</ul>                    
											
											<h3 style="margin-top:40px">News</h3>                    
											<p>Ressource Book Ressource Book Ressource Book Ressource Book Ressource Book Ressource Book Ressource Book Ressource Book </p> 
											<p>Ressource Book Ressource Book Ressource Book Ressource Book </p>                   
									</div>               
								</div>                
								
								<div class="clear" style="height:40px"></div>             
							</div>              
							
							<!-- end content -->
							           
						</div>            
						
						<!-- end container -->
						         
					</div>          
					
					<div id="footerWrapper">           
						<div id="footer">             
							<p style="padding-top:10px">               <!--THIS TEMPLATE IS FREE IF YOU DO NOT REMOVE OR MODIFY THE FOLLOWING LINK. TO REMOVE THIS LINK, PLEASE MAKE A $10 DONATION AT www.dotemplate.com.-->                <a href="#" shape="rect">Resource Book © 2011</a> </p>           
						</div>         
					</div>       
				</div>     
			</div>   
		</body>
	</html>