{% extends "base.html" %}

{% block content %}
  <h1>User Login</h1>

<script>
	$(function() {
		$("#loginButton").button();
		$( "#dialog-form" ).dialog();
	});
</script>

  
  <div id="dialog-form" title="Create new user">
	<p class="validateTips">All form fields are required.</p>

	<form action="/ManageResources/login_succeed" method="get">
	<fieldset>
		<label for="username">Name</label>
		<input type="text" name="name" id="name" class="text ui-widget-content ui-corner-all" />
		<label for="password">Password</label>
		<input type="password" name="password" id="password" value="" class="text ui-widget-content ui-corner-all" />
		<input type="submit" value="Login" id="loginButton">
	</fieldset>
	</form>
</div>
{% endblock %}
