{% extends "base.html" %}

{% block content %}

<!--  class OrderItem (models.Model):
    name = models.CharField(max_length=70)
    description = models.CharField(max_length=70) 
    unit_price = models.DecimalField(decimal_places=2,max_digits=10)
    order_id = models.ForeignKey(Order)
    resource_id = models.ForeignKey(Resource)
    invoice_line_id = models.ForeignKey(InvoiceLine)-->
  
<form action="save_user/" method="get">
	<fieldset>
		<label for="name">Name</label><br/>
		<input type="text" name="name" id="name" class="text ui-widget-content ui-corner-all" />
		<br/>
		<label for="description">Description</label><br/>
		<input type="text" name="description" id="description" value="" class="text ui-widget-content ui-corner-all" />
		<br/>
		<label for="unit_price">Unit Price</label><br/>
		<input type="text" name="unit_price" id="unit_price" value="" class="text ui-widget-content ui-corner-all" />
	</fieldset>
</form>
{% endblock %}
